<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DevExpress.XtraRichEdit.Demos.Properties.Settings.nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=H:\Projects\2009.2\Demos.Win\RichEditDemos\Data\nwind.mdb" providerName="System.Data.OleDb" />
    <add name="DevExpress.XtraRichEdit.Demos.Properties.Settings.nwindConnectionString64" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Work\2025.2\Demos.Win\RichEditDemos\Data\nwind.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
