.tile {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show-action {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}
    .show-action:hover {
        color: lightskyblue;
    }