.preview {
	padding: 5px;
	background-color: #fff8f0;
	height: 100%;
}

.description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333;
}

.actions {
	text-align: center;
	padding: 4px 0px;
}

.link {
	color: #2243b6;
	text-decoration: underline;
	cursor: pointer;
}

	.link:hover {
		color: red;
	}
