.background-image1 {
	background-image: url('ellipse-1');
	background-size: 48px;
}

.background-image2 {
	background-image: url('ellipse-2');
	background-size: 48px;
}

.background-image3 {
	background-image: url('ellipse-3');
	background-size: 48px;
}

.container {
	padding: 10px;
	margin-bottom: 10px;
	height: 60px;
	background-color: @Window;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	color: @ControlText;
}
