SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[Info](
	[DataVersion] [int] NULL
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[Tickers](
	[Ticker] [nvarchar](5) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Ticker] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DailyData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
	[Open] [float] NOT NULL,
	[High] [float] NOT NULL,
	[Low] [float] NOT NULL,
	[Close] [float] NOT NULL,
	[Volume] [int] NOT NULL,
	[Ticker] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_DailyData_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [Data_Ticker] ON [dbo].[DailyData] 
(
	[Ticker] ASC,
	[Date] DESC
)
INCLUDE ( [Close],
[Volume]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Volumes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Ticker] [nvarchar](5) NOT NULL,
	[Price] [float] NOT NULL,
	[Volume] [int] NOT NULL,
	[PotentialProfit] [float] NOT NULL,
 CONSTRAINT [PK_Volumes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [Volumes_Date_Ticker] ON [dbo].[Volumes] 
(
	[Ticker] ASC,
	[Date] ASC
)
INCLUDE ( [Price],
[Volume]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Trades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [nvarchar](5) NOT NULL,
	[Price] [float] NOT NULL,
	[Volume] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Trades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TradeData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Ticker] [nvarchar](5) NOT NULL,
	[Volume] [int] NOT NULL,
	[FixedProfit] [float] NOT NULL,
	[PotentialProfit] [float] NOT NULL,
 CONSTRAINT [PK_TradeData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RealTimePosition](
	[Date] [datetime] NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[RealTimeData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ticker] [nvarchar](5) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Last] [float] NOT NULL,
	[Volume] [int] NOT NULL
) ON [PRIMARY]
GO

CREATE PROCEDURE UpdateHistoricalData 
AS
BEGIN   
   declare @shift int
   select @shift = datediff(dd, max(Date), getdate()) from DailyData
   update DailyData set Date = dateadd(dd, @shift, Date)
   update Trades set Date = dateadd(dd, @shift, Date)
END
GO

CREATE procedure [dbo].[CalculateProfitLoss]
as
declare @date datetime
declare @close float
declare @ticker nvarchar(5)
declare  @price float, @buyOrSellVolume float
set nocount on

truncate table Volumes
truncate table TradeData
declare cursor1 cursor for
select DailyData.[Date], [Close], DailyData.Ticker, price, Trades.volume from DailyData
left join Trades on Trades.Date = DailyData.Date and Trades.Ticker = DailyData.Ticker
where DailyData.Date> (select MIN(date) from Trades)
order by DailyData.[Date], Ticker


declare @profitLossTable table (ticker nvarchar(5), profitLoss float)

insert into @profitLossTable select ticker, 0 from Tickers
open cursor1

declare @assets table (id int identity(1,1) not null,  date datetime, ticker nvarchar(5), price float, volume int)
fetch next from cursor1 into @date, @close, @ticker, @price, @buyOrSellVolume
while @@FETCH_STATUS=0
begin
	declare @profitLoss float
	select @profitloss = profitLoss from  @profitLossTable where ticker = @ticker
	if (@buyOrSellVolume>0) 
	begin	    
		insert into @assets (ticker,date, price, volume) values (@ticker,@date, @price, @buyOrSellVolume)	
	end
	if (@buyOrSellVolume <0 )
	begin	
		set @buyOrSellVolume = -@buyOrSellVolume    	   
		declare @id int 
		select top 1 @id =id
		from @assets a2
		where (select SUM(volume) from @assets a1 where  a1.id<= a2.id and a1.ticker = a2.ticker) >= @buyOrSellVolume  and ticker = @ticker
		order by id 
		if @id is not null 
		begin	
			select @profitLoss = @profitLoss + isnull(SUM( volume * (@price - price)),0), @buyOrSellVolume = @buyOrSellVolume - isnull(SUM(volume),0) from @assets where  id< @id and ticker = @ticker						
			select @profitLoss = @profitLoss + @buyOrSellVolume *  (@price - price) from @assets where id = @id		
			update @assets set volume = volume - @buyOrSellVolume where id = @id
			delete from @assets where (id< @id and ticker = @ticker) or volume = 0		
			if not exists(select * from @assets where ticker = @ticker) 
				insert into @assets (date,ticker, price, volume) values (@date, @ticker, 0, 0)
			update @profitLossTable set profitLoss =@profitLoss where ticker = @ticker			

	   end
	end	
		INSERT INTO [dbo].[TradeData]
			   ([Date] ,Ticker ,[Volume] ,PotentialProfit ,FixedProfit)
		
		select      @date, @ticker, isnull(sum(volume),0), isnull(SUM(volume)* @close - SUM(price* volume),0),  @profitloss from @assets where 		ticker =@ticker				
		insert into Volumes 
			   (Date,Ticker, Price, Volume, PotentialProfit)
			   
		select @date, @ticker, price, Volume, volume *(@close-price) from @assets
		where ticker =@ticker
		
	fetch next from cursor1 into @date, @close, @ticker, @price, @buyOrSellVolume
end

close cursor1
deallocate cursor1
GO

CREATE PROCEDURE [dbo].[RefreshRealtimeData]
AS

SET NOCOUNT ON;

begin tran

declare @date datetime, @lastDate datetime

select @date = [date] from realtimeposition
    
select top 1 @lastDate   = date from DailyData order by date desc

select top 1 @date =  date from RealTimeData
where @date is null or date > @date
order by date

if @@ROWCOUNT=0
begin 
  select top 1 @date =  date from RealTimeData
  order by date
end


update DailyData
set [Close] = realtimedata.Last
from realtimedata 
where realtimedata.date = @date and DailyData.date =  @lastDate and DailyData.Ticker = RealTimeData.Ticker 

update Volumes
set PotentialProfit = (realtimedata.last - Price)* Volumes.Volume
from realtimedata
where realtimedata.date = @date and Volumes.date =  @lastDate and Volumes.Ticker = RealTimeData.Ticker 


update realtimeposition set date = @date
if(@@ROWCOUNT =0)
	insert into realtimeposition values(@date)

commit
GO

CREATE view [dbo].[CurrentAssets] as
with CloseStockValues as (SELECT top 1 with ties 
      [Close]     
      ,Ticker    
  FROM [dbo].[DailyData] dd
  order by ROW_NUMBER() over (partition by Ticker order by [date] desc))    
  select top 1 with ties  v.[Date]      
      ,v.Ticker
      ,v.Volume
      ,v.[Volume] * v.Price BuyValue
      ,v.Volume * n.[Close] SellValue      
      ,PotentialProfit from Volumes  v 
      join CloseStockValues n on v.Ticker = n.Ticker       
     order by Rank() over (partition by v.ticker order by v.date desc )
GO


CREATE view [dbo].[AssetsStructure] 
as
SELECT 'Loss' Category,  - sum(SellValue - BuyValue)  Value  
FROM [dbo].[CurrentAssets]
where  SellValue - BuyValue <0 
union
SELECT 'Profit' Category,  sum(SellValue - BuyValue) Value   
FROM [dbo].[CurrentAssets]
where  SellValue - BuyValue>0
GO

CREATE view [dbo].[CurrentStocks] as
with numbered as (SELECT  ROW_NUMBER() over (partition by Ticker order by [date] desc) number
      ,[Date]
      ,[Open]
      ,[High]
      ,[Low]
      ,[Close]
      ,[Volume]
      ,Ticker    
  FROM [dbo].[DailyData] dd )
  select n.[Date] ,n.[Open] ,n.[High] ,n.[Low] ,n.[Close] ,n.Ticker, 
		case when BuyValue<SellValue then 'Profit'
			  when BuyValue>SellValue then 'Loss' else '' end Category from numbered n
    left join CurrentAssets ca on n.Ticker = ca.Ticker
  where number = 1
GO

ALTER TABLE [dbo].[RealTimeData]  WITH CHECK ADD  CONSTRAINT [FK_RealTimeData_Tickers] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Tickers] ([Ticker])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[RealTimeData] CHECK CONSTRAINT [FK_RealTimeData_Tickers]
GO


ALTER TABLE [dbo].[TradeData] ADD  CONSTRAINT [DF_TradeData_PotentialProfit]  DEFAULT ((0)) FOR [PotentialProfit]
GO

ALTER TABLE [dbo].[Volumes] ADD  CONSTRAINT [DF_Volumes_PotentialProfit]  DEFAULT ((0)) FOR [PotentialProfit]
GO

ALTER TABLE [dbo].[TradeData]  WITH CHECK ADD  CONSTRAINT [FK_TradeData_Companies] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Tickers] ([Ticker])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[TradeData] CHECK CONSTRAINT [FK_TradeData_Companies]
GO

ALTER TABLE [dbo].[Trades]  WITH CHECK ADD  CONSTRAINT [FK_Trades_Companies] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Tickers] ([Ticker])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Trades] CHECK CONSTRAINT [FK_Trades_Companies]
GO

ALTER TABLE [dbo].[Volumes]  WITH CHECK ADD  CONSTRAINT [FK_Volumes_Companies] FOREIGN KEY([Ticker])
REFERENCES [dbo].[Tickers] ([Ticker])
ON UPDATE CASCADE
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Volumes] CHECK CONSTRAINT [FK_Volumes_Companies]
GO

INSERT [dbo].[Tickers] ([Ticker], [Description], [Type]) VALUES (N'AAPL', N'Apple Inc.', N'Technology')
INSERT [dbo].[Tickers] ([Ticker], [Description], [Type]) VALUES (N'ADBE', N'Adobe Systems Inc.', N'Technology')
INSERT [dbo].[Tickers] ([Ticker], [Description], [Type]) VALUES (N'AIG', N'American International Group', N'Financial')

GO

INSERT [dbo].[Trades] ( [Ticker], [Price], [Volume], [Date]) VALUES ( N'ADBE', 34.76, 1000, CAST(0x0000A11D00000000 AS DateTime))
INSERT [dbo].[Trades] ( [Ticker], [Price], [Volume], [Date]) VALUES ( N'ADBE', 38.13, 1000, CAST(0x0000A17200000000 AS DateTime))
INSERT [dbo].[Trades] ( [Ticker], [Price], [Volume], [Date]) VALUES ( N'ADBE', 38.07, 1000, CAST(0x0000A12C00000000 AS DateTime))

SET IDENTITY_INSERT [dbo].[RealTimeData] ON
INSERT [dbo].[RealTimeData] ([Id], [Ticker], [Date], [Last], [Volume]) VALUES (1, N'AAPL', CAST(0x0000A182009C8E20 AS DateTime), 437.97, 1100)
INSERT [dbo].[RealTimeData] ([Id], [Ticker], [Date], [Last], [Volume]) VALUES (2, N'BAC', CAST(0x0000A182009C8E20 AS DateTime), 12.53, 17600)
INSERT [dbo].[RealTimeData] ([Id], [Ticker], [Date], [Last], [Volume]) VALUES (3, N'C', CAST(0x0000A182009C8E20 AS DateTime), 47.52, 1597)
SET IDENTITY_INSERT [dbo].[RealTimeData] Off

-- you have to start this part manually
-- after you imported the modern data into DailyData table
-- get the data from finance.yahoo.com
-- use FinancialDataParser in the next folder

/*
DECLARE @YearsPassed int
SET @YearsPassed = DATEPART(year,GetDate()) - 2014

BEGIN TRANSACTION

UPDATE dbo.Trades
SET [Date] = DATEADD(year, @YearsPassed, [Date])

exec CalculateProfitLoss	



COMMIT TRANSACTION
*/