.root-container {
    margin-top:80px;
    text-align: center;
}
.container {
    padding: 10px;
    margin-bottom: 10px;
    background-color: @Window;
    display:inline-block;
    text-align:center;
}

h3 {
    margin: 0px;
    margin-bottom: 8px;
}